* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
}

body, input, button {
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Roboto Condensed', sans-serif;
}

button {
	cursor: pointer;
}

iframe {
	overflow: hidden;
}

div.centered {
	max-width: 960px;
	margin: 0 auto;
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: 12px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

header {
	background: url(img/full-banner-notext.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75%;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-left: 5vw;
	padding-bottom: 30vh;
	position: relative;
}

header p {
	text-transform: uppercase;
	font-size: 10vw;
	font-weight: 900;
	color: #fff;
	text-shadow: #3a2949 0 2px 10px;
}

header div.arrow {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 40px;
	color: #c4699c;

	-webkit-animation: slide-top 1.5s ease-in-out infinite alternate both;
	animation: slide-top 1.5s ease-in-out infinite alternate both;
}

header.smaller-header {
	height: 65vh;
	justify-content: flex-end;
	padding-bottom: 50px;
}

div.link-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

div.link-list a {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	background: #967bae;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: transform 300ms ease, background 300ms ease;
}

div.link-list a:hover {
	transform: translateY(-5px);
	background: #c4699c;
}

section.links {
	background: linear-gradient(90deg, #ccc, #fff);
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}

section.links div.link-list {
	gap: 2vw;
}

section.latest-tracks {
	padding: 50px 5%;
}

section.latest-tracks div.centered {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

section.latest-tracks div.centered p {
	text-transform: uppercase;
	font-size: 32px;
	text-align: center;
	font-weight: 200;
	color: #fff;
	width: 100%;
	background: #967bae;
	padding: 10px;
	border-radius: 12px;
}

section.latest-tracks div.stems {
	background-color: #c4699c;
	width: 100%;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 5px 25px;
}

section.latest-tracks div.stems div.split {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

section.latest-tracks div.stems div.split div.content {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.latest-tracks div.stems p:first-child {
	background-color: transparent;
	text-transform: none;
	font-size: 26px;
	border-bottom: #fff 2px solid;
	margin-bottom: 25px;
}

section.latest-tracks div.stems div.content p, section.latest-tracks div.stems div.split div.content:last-child p:first-child {
	background-color: transparent;
	text-transform: none;
	font-size: 20px;
	margin-bottom: 5px;
	border: none;
}

section.latest-tracks div.stems div.content a {
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	border-radius: 12px;
	padding: 10px 25px;
	border: #fff 2px solid;
	transform: scale(.8);
	transition: transform 300ms ease, background-color 300ms ease;
}

section.latest-tracks div.stems div.content a:hover {
	background-color: #967bae;
	transform: scale(1);
}

section.latest-tracks div.stems div.content a i {
	margin-right: 15px;
}

section.latest-tracks div.stems div.content ul {
	list-style: circle;
	color: white;
	margin-left: 15px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-23 0:7:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}