footer {
	background: linear-gradient(135deg, var(--SBL-Purple), var(--SBL-Pink));
	padding: 35px 0;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer div.split-2 {
	padding-bottom: 25px;
}

footer div.split-2 div.splitted:first-child {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 70px;
}

footer div.split-2 div.splitted:first-child a {
	width: fit-content;
}

footer p {
	font-size: .8rem;
	font-family: 'Roboto', sans-serif;
	padding-top: 5px;
}